# Ignorer les environnements virtuels
venv/
ENV/
env/
.venv/

# Ignorer le build
.build/
.dist/

# Ignorer les fichiers de cache Python
__pycache__/
*.py[cod]
*$py.class

# Ignorer les fichiers de configuration IDE
.vscode/
.idea/

# Ignorer les fichiers .exe générés
*.exe

# Ignorer les rapport de code coverage
.coverage
.htmlcov/